* {
    box-sizing: border-box;
}

input[type=text], select, textarea {
    width: 90%;
    padding: 8px;
    resize: vertical;
}

label {
    width: 160px;
    padding: 12px 12px 12px 0;
    display: inline-block;
}




input[type=submit]:hover {
    background-color: #45a049;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 33px;
    cursor: pointer;
}


.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}