
.perfil-imagem{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    right: 5px;


}

.nome{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    padding: 5px 15px;
    font-weight: 700;
    font-size: 1em;
    display: block;


}
#divBusca{
    background-color: #ffffff;
    border:solid 2px #ffffff;
    border-radius:10px;
    width:300px;
    height:32px;
}

#txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-size:18px;
    border:none;
    height:32px;
    width:191px;
}

#btnBusca{
    border:none;
    float:left;
    height:32px;
    border-radius:0 7px 7px 0;
    width:70px;
    font-weight:bold;
    background: #ffffff;
}

#divBusca img{
    float:left;
}
.linha{
    border: #000000;
    background-color: #000000;
    border-style: solid;
    border-width: 1px;

}



.campo{
    width: 1040px;
    height: 820px;
    background-image: url("../images/campo.png");
    position: relative;
    font-size: 10px;

}

.plantel{
    width: 80px;
    height: 80px;
    border-radius: 40px;
}
.guardaRedes{
    position: absolute;
    top: 20px;
    left: 480px;
}
.defesaDireito{
    position: absolute;
    top: 120px;
    left: 270px;
}
.defesaCentralDireito{
    position: absolute;
    top: 170px;
    left: 300px;
}
.defesaCentral{
    position: absolute;
    top: 170px;
    left: 480px;
}
.defesaCentralEsquerdo{
    position: absolute;
    top: 170px;
    right: 300px;
}
.centralDireito{
    position: absolute;
    top: 370px;
    left: 270px;
}
.centralCentralDireito{
    position: absolute;
    top: 370px;
    left: 410px;
}
.centralCentralEsquerdo{
    position: absolute;
    top: 370px;
    right: 410px;
}
.centralEsquerdo{
    position: absolute;
    top: 370px;
    right: 270px;
}
.avancadoDireito{
    position: absolute;
    top: 570px;
    left: 300px;
}
.avancadoCentral{
    position: absolute;
    top: 570px;
    left: 480px;
}
.avancadoEsquerdo{
    position: absolute;
    top: 570px;
    right: 300px;
}
.treinador{
    position: absolute;
    top: 100px;
    left: 40px;
}
.plantel