.staff_line{
    height: 33px;
    width: auto;
    padding: 3px 0px 3px 6px;
    clear: both;
    font-size: 13px;
    font-weight: 400 ;
}



.staff_line .staff{
    width: 200px;
    float: left;
}


.staff_line .number{
    width: 34px;
    font: 400 22px 'Roboto', Helvetica, Arial, Verdana, sans-serif;
    color: #8090A0;
    float: left;
    text-align: center;
}

.staff_line .photo{
    width: 30px;
    height: 30px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    text-align: center;
    float: left;
    background-size: cover;
    display: block;
}

.staff_line .name{
    padding: 0px 0px 0px 4px;
    color: #000;
    float: left;
}

.staff_line .name a{
    color: #000;
}

.staff_line .name span{
    margin: -15px 0px 0px 28px;
    display: table;
    font-size: 11px;
    font-weight: 400;
    color: #8090A0;
}





